# First, ignore yourself.
cmake/3rdparty/**/*
cmake/CMakeFiles/**/*
cmake/bin/**/*
cmake/include/**/*
cmake/src/**/*
cmake/CMakeCache.txt
cmake/CPackConfig.cmake
cmake/CPackSourceConfig.cmake
cmake/CTestTestfile.cmake
cmake/Makefile
cmake/cmake_install.cmake
support/pre-commit-config.yaml
*.swp
*~
compile_commands.json
**/.ccls-cache

# Files created by ./bootstrap.
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing

# Files created by ./support/setup-dev.sh
.clang-format
.clang-tidy
.pre-commit-config.yaml
.reviewboardrc
.gitlint
CPPLINT.cfg

# Recommended build directory.
/build/

# Intermediate build artifacts
*.la
*.lo
*.o
.dirstamp
.deps/
.libs/
*-stamp

.clang-format
.clang-tidy
.gitlint
.pre-commit-config.yaml
.reviewboardrc
*/**/Makefile.in
CPPLINT.cfg
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
build/
centos7/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
*/**/*.m4
missing
.pre-commit-config.yaml
.vscode
build/**/*
.pre-commit-config.yaml
build-nix/**/*
*.class
*.log
3rdparty/
cmake-build-*/
CMakeFiles/
bin/
build_centos9/
